.navbar-wrapper {
  flex: 1;
  min-height: 20vh;
  width: 100%;
  border-bottom: 5px solid rgb(255, 255, 255);
  background: linear-gradient(270deg, #01204b, #3333ff, #0e4dcc, #d20fdc, #890970);
  background-size: 1000% 1000%;
  animation: gradientAnimation 10s ease infinite;
}

.navbar-cont {
  margin: auto;
  max-width: 1400px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}
