.edit-wrapper {
  min-height: 80vh;
  width: 100%;
  background: rgb(255, 0, 204);
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

.edit-cont {
  margin: auto;
  max-width: 1400px;
}

.edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-mini-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.edit-btn {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background: rgb(255, 0, 204);
  outline: none;
  transition: all 0.5s;
}

.edit-btn:hover {
  border: 2px solid #fff;
  color: rgb(255, 0, 204);
  background: #fff;
}

.edit-btn:disabled {
  background: gray;
  color: #fff;
}

.edit-mini-cont div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.edit-mini-cont div input {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background: rgb(255, 0, 204);
  outline: none;
}

.edit-mini-cont div input::placeholder {
  color: #fff;
}
